resource "tfe_organization" "{{ organization.name }}" {
  name = "{{ organization.name }}"
  email = "{{ organization.admin_email }}"
  {% if organization.session_timeout_minutes -%}
  {{ organization.session_timeout_minutes  }}
  {%- endif %}
  {% if organization.session_remember_minutes -%}
  {{ organization.session_remember_minutes  }}
  {%- endif %}
  {% if organization.collaborator_auth_policy -%}
  {{ organization.collaborator_auth_policy  }}
  {%- endif %}
}