resource "tfe_sentinel_policy" "{{ sentinel.policy_name }}" {
  name = "{{ sentinel.policy_name }}"
  organization = "{{ sentinel.organization }}"
  policy = "{{ sentinel.policy }}"
  enforce_mode = "{{ sentinel.enforce_mode }}"
}