
resource "tfe_workspace" "{{ workspace.name.split("-")|join("_") }}" {
    name = "{{ workspace.name }}"
    organization = "{{ workspace.organization }}"
    {% if workspace.auto_apply and workspace.auto_apply|length > 0 %}
    auto_apply = {{ workspace.auto_apply }}
    {% endif %}
    terraform_version = "{{ workspace.terraform_version }}"
    {% if workspace.working_directory and workspace.working_directory|length > 0 %}
    working_directory = "{{ workspace.working_directory }}"
    {% endif %}
    {% if workspace.vcs_repo %}
    vcs_repo = {
        identifier = "{{ workspace.vcs_repo.identifier }}"
        {% if workspace.vcs_repo.branch and workspace.vcs_repo.branch|length > 0 %}
        branch = "{{ workspace.vcs_repo.branch }}"
        {% endif %}
        oauth_token_id = "{{ workspace.vcs_repo.oauth_token_id }}"
        {% if workspace.vcs_repo.ingress_submodules -%}
        ingress_submodules = {{ workspace.vcs_repo.ingress_submodules }}
        {% endif %}
    }
    {% endif %}
}
