{
  "data": {
    "type": "oauth-clients",
    "attributes": {
      "service-provider": "{{ oauthclient.service_provider }}",
      "http-url": "{{ oauthclient.http_url }}",
      "api-url": "{{ oauthclient.api_url }}",
      "oauth-token-string": "{{ oauthclient.personal_access_token }}"
    }
  }
}