{
  "data": {
    "attributes": {
      "vcs-repo": {
        "identifier":"{{ registrymodule.repo }}",
        "oauth-token-id":"{{ registrymodule.oauth_token_id }}"
      }
    },
    "type":"registry-modules"
  }
}