{
  "data": {
    "attributes": {
      "is-destroy":false,
      "message": "{{ run.run_message }}"
    },
    "type":"runs",
    "relationships": {
      "workspace": {
        "data": {
          "type": "workspaces",
          "id": "{{ run.workspace_id }}"
        }
      },
      "configuration-version": {
        "data": {
          "type": "configuration-versions",
          "id": "{{ run.configuration_version }}"
        }
      }
    }
  }
}