{
  "data": {
    "attributes": {
      "enforce": [
        {
          "path": "{{sentinel.path_name}}",
          "mode": "{{sentinel.check_level}}"
        }
      ],
      "name": "{{sentinel.policy_name}}"
    },
    "type":"policies"
  }
}