{
  "data": {
    "type":"vars",
    "attributes": {
      "key":"{{ variable.key }}",
      "value":"{{ variable.value }}",
      "category":"{{ variable.category }}",
      "hcl":{{ variable.hcl }},
      "sensitive":{{ variable.sensitive }}
    },
    "relationships": {
      "workspace": {
        "data": {
          "id":"{{ variable.workspace.id }}",
          "type":"workspaces"
        }
      }
    }
  }
}